<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mascotmercio</title>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/Propietario/paginaPrincipal.css}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <style>
        #map{
            height: 480px;
            width: 1000px;
            margin-left: 450px;
            margin-top: 20px;
            border: 2px solid transparent;
            border-color: black;
        }

        /* Establecer la transparencia del marcador */
        .mapboxgl-marker {
        filter: opacity(0.7);
        }

        /* Establecer el color del texto encima del marcador */
        .mapboxgl-popup-content {
        color: #fff;
        }

        .icon {
            width: 1em;
            height: 1em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0.5em;
        }

    </style>
</head>

<body>
    <div class="rectangulo">
        <img th:src="@{/imagenes/logo.png}" class="logo">
        <p class="titulo">Bienvenido a MASCOTMERCIO<span sec:authentication="name" class="titulo"></span></p>
        <p class="textoperfil">MI PERFIL</p>
        <img th:src="@{/imagenes/perfil.png}" class="perfil">
    </div>
    <div class="contenedor">


      <aside class="sidebar">
        <header class="header">
            <h2 class="titulo2">MIS ESTABLECIMIENTOS</h2>
        </header>
        <nav class="sidebar-nav">
            <ul>
              <li th:each="establecimiento : ${establecimientos}">
                <a th:href="@{/propietario/establecimientos/{id}(id=${establecimiento.id})}">
                    <p class="item" th:text="${establecimiento.nombre}">Nombre del establecimiento</p>
                </a>
            </li>
                <li class="botonañadir">
                    <a href="/propietario/nuevoEstablecimiento">
                        <button><span class="button_top">AÑADIR</span></button>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>  
    <div class="group">
        <form th:action="@{/propietario/resultadoBuscar}" th:method="post">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
            <input placeholder="Buscar" type="text" class="input" name="calleClave" id ="calleClave" required>
            <button type="submit" class="buscador">Buscar</button>
        </form>
        
        <form th:action="@{/propietario/resultadoSelect}" th:method="post">
        <div class="select">
            <select class="selectstyle" name="servicioClave">
                <option value="" selected>Selecciona una opción</option>
                <option value="Tienda de animales">Tienda de animales</option>
                <option value="Restaurante">Restaurante</option>
                <option value="Peluqueria">Peluquería</option>
                <option value="SPA">SPA</option>
                <option value="Cafeteria">Cafetería</option>
                <option value="otros">Otros</option>
            </select>
        </div>
        <button type="submit" class="buscador">Buscar</button>
        </form>
        <a href="/logout"><button class="salir">Salir</button></a>    
    </div>

    <div id="map"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
    
    <script th:inline="javascript">
        const map = L.map('map').setView([40.4165, -3.70256], 13);
        const apiKey = 'pk.eyJ1IjoiYWxmcmVkMjAxNiIsImEiOiJja2RoMHkyd2wwdnZjMnJ0MTJwbnVmeng5In0.E4QbAFjiWLY8k3AFhDtErA';
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: apiKey
        }).addTo(map);
        
        var markerDataJson = /*[[${establecimientos}]]*/ '';

        const markerLayer = L.layerGroup().addTo(map);
        for (let i = 0; i < markerDataJson.length; i++) {
            const latitud = markerDataJson[i].latitud;
            const longitud = markerDataJson[i].longitud;

            const marker = L.marker([latitud, longitud]).addTo(markerLayer);

            const popupContent = "<b>" + markerDataJson[i].nombre + "</b><br>" + markerDataJson[i].direccion;
            marker.on('click', function () {
                window.location.href = '/propietario/establecimientos/' + markerDataJson[i].id;
            });
            marker.bindPopup(popupContent);

            marker.on('mouseover', function () {
                marker.openPopup();
            });

            marker.on('mouseout', function () {
                marker.closePopup();
            });
        }
    </script>
    

</body>

</html>